<div class="card">
    <div class="card-header">
        Tabela sistema
    </div>


    <div class="card-body">
           <ol class="list-group">
             <li class="list-group-item">Items da Lista </li>
             <li class="list-group-item">Items da Lista </li>
             <li class="list-group-item">Items da Lista </li>
             <li class="list-group-item">Items da Lista </li>
           </ol>
    </div>


</div>